// Domaine Display Bold
  @font-face {
    font-display: swap;
    font-family: 'Domaine Display';
    font-style: normal;
    font-weight: 700;
    src: url('@/assets/fonts/DomaineDispNar-Bold.woff2') format('woff2'),
         url('@/assets/fonts/DomaineDispNar-Bold.woff') format('woff');
  }

  // Domaine Display Bold Italic
  @font-face {
    font-display: swap;
    font-family: 'Domaine Display';
    font-style: italic;
    font-weight: 700;
    src: url('@/assets/fonts/DomaineDispNar-BoldItalic.woff2') format('woff2'),
         url('@/assets/fonts/DomaineDispNar-BoldItalic.woff') format('woff');
  }

  // Work Sans Regular
  @font-face {
    font-display: swap;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    src: url('@/assets/fonts/WorkSans-Regular.woff2') format('woff2'),
         url('@/assets/fonts/WorkSans-Regular.woff') format('woff');
  }

  // Work Sans SemiBold
  @font-face {
    font-display: swap;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    src: url('@/assets/fonts/WorkSans-SemiBold.woff2') format('woff2'),
         url('@/assets/fonts/WorkSans-SemiBold.woff') format('woff');
  }

  // Work Sans Bold
  @font-face {
    font-display: swap;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    src: url('@/assets/fonts/WorkSans-Bold.woff2') format('woff2'),
         url('@/assets/fonts/WorkSans-Bold.woff') format('woff');
  }
