flynt-component[name='NavigationMain'] {
  --navigation-height: 96px;
  block-size: var(--navigation-height);
  display: none;
  font-size: var(--font-size-body-small);

  @media (min-width: $breakpoint-tablet-horizontal) {
    display: block;
  }

  .navigation {
    background-color: #EFEFED;
    block-size: var(--navigation-height);
    border-block-end: solid 2px var(--color-border);
    inset-block-start: 0;
    inset-inline: 0;
    position: relative;
    z-index: 100;

    .admin-bar & {
      inset-block-start: var(--wp-admin--admin-bar--height);
    }
  }

  .container {
    align-items: center;
    block-size: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: var(--content-max-width-full);
    padding-block: 24px;
  }

  .navigation__left {
    align-items: center;
    display: flex;
    gap: 3rem;
  }

  .navigation__content {
    align-items: center;
    display: flex;
    gap: 2rem;
  }

 

  @import 'Partials/logo';
  @import 'Partials/menu';
  @import 'Partials/actionButtons';
  @import 'Partials/megaMenu';
}
